# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
ENV/

# Poetry dependency files
*.egg-info/
*.eggs/
*.dist-info/

# Pytest and cache
.pytest_cache/
.cache/
.coverage

# Editor-specific files
.vscode/
.idea/

# macOS system files
.DS_Store

# Environment files
.env
.env.*

# Requirements
requirements.txt

# Requirements
.metaflow/

# macOS system files
.DS_Store

# updated datsets
data/gesture_data_*

# notebooks
.ipynb_checkpoints